interface nve1
 no ip address
 source-interface {{ source_interface }}
 host-reachability protocol bgp
 group-based-policy
!

router bgp {{ asn }}
 template peer-policy {{ peer_policy_template }}
  send-community both
 exit-peer-policy
 !
 template peer-session {{ peer_session_template }}
  remote-as {{ asn }}
  log-neighbor-changes
  update-source {{ update_source }}
 exit-peer-session
 !
 bgp router-id interface {{ router_id_interface }}
 bgp log-neighbor-changes
 bgp graceful-restart
 no bgp default ipv4-unicast
{% for neighbor_ip in neighbor %}
 neighbor {{ neighbor_ip }} inherit peer-session {{ peer_session_template }}
{% endfor %}
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv4 mvpn
{% for neighbor_ip in neighbor %}
  neighbor {{ neighbor_ip }} activate
  neighbor {{ neighbor_ip }} send-community both
  neighbor {{ neighbor_ip }} inherit peer-policy {{ peer_policy_template }}
{% endfor %}
 exit-address-family
 !
 address-family ipv6 mvpn
{% for neighbor_ip in neighbor %}
  neighbor {{ neighbor_ip }} activate
  neighbor {{ neighbor_ip }} send-community both
  neighbor {{ neighbor_ip }} inherit peer-policy {{ peer_policy_template }}
{% endfor %}
 exit-address-family
 !
 address-family l2vpn evpn
{% for neighbor_ip in neighbor %}
  neighbor {{ neighbor_ip }} activate
  neighbor {{ neighbor_ip }} send-community both
  neighbor {{ neighbor_ip }} inherit peer-policy {{ peer_policy_template }}
{% endfor %}
 exit-address-family

!

ip dhcp-relay source-interface {{ dhcp_source_interface }}
ip dhcp relay information option vpn
ip dhcp relay information option
ip dhcp compatibility suboption link-selection standard
ip dhcp compatibility suboption server-override standard
ipv6 dhcp-relay source-interface {{ dhcp_source_interface }}
!