interface nve1
 no ip address
 source-interface {{ source_interface }}
 host-reachability protocol bgp
 group-based-policy
!

ip prefix-list ip_route_map_towards_wan_handoff seq 5 permit 0.0.0.0/0 le 31
ip prefix-list ip_route_map_towards_wan_handoff seq 10 permit 177.0.0.0/16 ge 17
ipv6 prefix-list ipv6_route_map_towards_wan_handoff seq 5 permit ::/0 le 127
ipv6 prefix-list ipv6_route_map_towards_wan_handoff seq 10 permit 2002:177:0:1::/64 ge 65
route-map ip_route_map_towards_wan_handoff permit 10
 match ip address prefix-list ip_route_map_towards_wan_handoff
route-map ipv6_route_map_towards_wan_handoff permit 10
 match ipv6 address prefix-list ipv6_route_map_towards_wan_handoff
!
router bgp {{ asn }}
 template peer-policy {{ peer_policy_template }}
  send-community both
 exit-peer-policy
 !
 template peer-session {{ peer_session_template }}
  remote-as {{ asn }}
  log-neighbor-changes
  update-source {{ update_source }}
 exit-peer-session
 !
 bgp router-id interface {{ router_id_interface }}
 bgp log-neighbor-changes
 bgp graceful-restart
 no bgp default ipv4-unicast
{% for neighbor_ip in neighbors %}
 neighbor {{ neighbor_ip }} inherit peer-session {{ peer_session_template }}
{% endfor %}
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv4 mvpn
{% for neighbor_ip in neighbors %}
  neighbor {{ neighbor_ip }} activate
  neighbor {{ neighbor_ip }} send-community both
  neighbor {{ neighbor_ip }} inherit peer-policy {{ peer_policy_template }}
{% endfor %}
 exit-address-family
 !
 address-family ipv6 mvpn
{% for neighbor_ip in neighbors %}
  neighbor {{ neighbor_ip }} activate
  neighbor {{ neighbor_ip }} send-community both
  neighbor {{ neighbor_ip }} inherit peer-policy {{ peer_policy_template }}
{% endfor %}
 exit-address-family
 !
 address-family l2vpn evpn
{% for neighbor_ip in neighbors %}
  neighbor {{ neighbor_ip }} activate
  neighbor {{ neighbor_ip }} send-community both
  neighbor {{ neighbor_ip }} inherit peer-policy {{ peer_policy_template }}
{% endfor %}
 exit-address-family
!

ip dhcp relay information option vpn
ip dhcp relay information option
ip dhcp compatibility suboption link-selection standard
ip dhcp compatibility suboption server-override standard
!
